/*

---- TYPOGRAPHY SYSTEM

Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font weights (px)
Default:400

Line heights
Default: 1

---- COLOR

Primary : #e67e22
Grey : #555

---- SHADOWS

---- BORDER-RADIUS

---- WHITE SPACING

Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* .test {
  max-width: 500rem;
  /* 1 rem = 10px -> 500rem = 500px */
  /* background-color: red;
  padding: 100px;
  color: #ffff;
  font-size: 2rem;
  padding: 4rem;
} */

/**************************/
/* HERO SECTION */
/**************************/


.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  width: 100%;
}
